[submodule "pinch"]
	path = libpinch
	url = git@github.com:mhekkel/pinch.git
[submodule "libmcfp"]
	path = libmcfp
	url = git@github.com:mhekkel/libmcfp.git
[submodule "libpinch/"]
	url = git@github.com:mhekkel/libpinch.git
[submodule "libmgui"]
	path = libmgui
	url = s4.hekkelman.net:git-repo/libmgui.git
