obj.dbg/
obj/
autom4te.cache
.vscode
aclocal.m4
config.log
config.status
GNUmakefile
salt
src/MSaltConfig.*
msvc/Debug
msvc/Release
msvc/x64
.vs/
msvc/salt.vcxproj.user
msvc/MLib/Debug
msvc/MWinLib/Debug

