
$color: rgb(0, 0, 0);
$color: rgb(147, 29, 29);
$color: rgb(29, 147, 29);
$color: rgb(147, 147, 29);
$color: rgb(29, 49, 147);
$color: rgb(147, 29, 147);
$color: rgb(29, 147, 147);
$color: rgb(183, 183, 183);
$color: rgb(128, 128, 128);
$color: rgb(204, 80, 80);
$color: rgb(80, 204, 80);
$color: rgb(204, 204, 80);
$color: rgb(80, 80, 204);
$color: rgb(204, 80, 204);
$color: rgb(40, 204, 204);
$color: rgb(209, 209, 209);


$color: rgb(0, 0, 0);
$color: rgb(197, 0, 13);
$color: rgb(0, 172, 92);
$color: rgb(177, 128, 30);
$color: rgb(0, 63, 141);
$color: rgb(157, 28, 190);
$color: rgb(15, 168, 192);
$color: rgb(208, 207, 204);
$color: rgb(94, 92, 100);
$color: rgb(255, 74, 54);
$color: rgb(28, 223, 113);
$color: rgb(244, 185, 22);
$color: rgb(18, 122, 249);
$color: rgb(223, 63, 241);
$color: rgb(32, 214, 241);
$color: rgb(255, 255, 255);


