[Desktop Entry]
Type=Application
Name=Salt Terminal
Comment=Alternative command line and SSH terminal
Comment[nl]=Alternatieve opdracht prompt en SSH terminal
TryExec=salt
Exec=__EXE__
Icon=__ICON__
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;
Keywords=Run;
MimeType=x-scheme-handler/ssh
Actions=New

[Desktop Action Open]
Name=Open Connection
Name[nl]=Verbind
Exec=__EXE__ --connect
