[Desktop Entry]
Type=Application
Name=Salt Terminal
Comment=Alternative command line and SSH terminal
Comment[nl]=Alternatieve opdracht prompt en SSH terminal
TryExec=salt
Exec=__EXE__ %u
Icon=__ICON__
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;
Keywords=Run;
MimeType=x-scheme-handler/ssh
Actions=Connect;

[Desktop Action Connect]
Name=Open Connection
Name[nl]=Verbind met server
Exec=__EXE__ -c
